
body { 
    margin: 0px;
    padding: 0px;
    font-family: "Poppins";
    background: rgb(0, 0, 0);
    background-image: url('images/Background.png');
    background-size: cover;
    background-attachment: fixed;
    background-repeat:no-repeat;
}

a{
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
    
}

a:hover {
    background: #ddd;
    color: black;
}

.back_button {
    background-color: #f1f1f1;
    color: black;
    border-radius: 5%;
    position: absolute;
    top:35px;
    right:100px;
    cursor: pointer;
}
  

form {
    border: 3px solid #d3d3d3;
    max-width: 550px;
    margin: 2rem auto;
    padding: 2rem;
    background-color: black;
    color: white;
}

#results {
    border: 1px solid #d3d3d3;
    max-width: 550px;
    margin: 2rem auto;
    padding: 2rem;
    background-color: black;
}

img {
    width: 550px;
    height: 400px;
}

#version {

    width: 550px;
    height: 200px;

}

section{
    display: flex;
    flex-direction:column;
  align-items: center;
  justify-content: center;
}

.cards {
  display: flex;
}

.card-A {
  position: relative;
  width: 17rem;
  height: 17rem;
  margin: 1rem;
  border: 1px solid #EEE;
  padding-left:1rem;
  border-radius: 1rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  overflow: hidden;
    background-image: url(images/communicate.png);
}

.card-A:hover{
  background-size: 120%;
}


.card-B{
    position: relative;
    width: 17rem;
    height: 17rem;
    margin: 1rem;
    padding-left:1rem;
    border: 1px solid #EEE;
    border-radius: 1rem;
    background-repeat: no-repeat;
    background-position: center; 
    background-size: 100%;
    overflow: hidden;
        background-image: url(images/hope.png);

}

.card-B:hover{
    background-size:120%;
}

.card-C{
    position: relative;
    width: 17rem;
    height: 17rem;
    margin: 1rem;
    padding-left:1rem;
    border: 1px solid #EEE;
    border-radius: 1rem;
    background-repeat: no-repeat;
    background-position: center; 
    background-size: 100%;
    overflow: hidden;
    background-image: url(images/planForSurvival.png);
}

.card-C:hover{
    background-size:120%;
}

.card-D{
    position: relative;
    width: 17rem;
    height: 17rem;
    margin: 1rem;
    padding-left:1rem;
    border: 1px solid #EEE;
    border-radius: 1rem;
    background-repeat: no-repeat;
    background-position: center; 
    background-size: 100%;
    overflow: hidden;
    background-image: url(images/meaning.jpeg);

}

.card-D:hover{
    background-size:120%;
}
